.container
{
    margin-top: 1.5%;
    margin-left: 30%;
    height: 95%;
    width: 40%;
    background-color: lightgrey;
    border: solid black 3px;
}
.screen
{
    width: 92%;
    height: 20%;
    background-color: white;
    padding: 5;
    margin-left: 4%;
    margin-top: 5%;
    border: solid 3px grey;
    font-size: 50px;
    text-align: right;
}
.keypad
{
    margin-top: 2%;
}
button
{
    height: 12%;
    width: 19.5%;
    font-size: 34px;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 10%;
}